@media (min-width: 767px) {
  .navbar-nav .dropdown-menu .caret {
    transform: rotate(-90deg);
  }
}


/* needed to disable */
.nav li a.disabled {
  color: #888 !important;
    cursor: not-allowed !important;
  border-color: #aaa !important;
}
.nav li.disabled {
  color: #888 !important;
    cursor: not-allowed !important;
  border-color: #888 !important;
}
